@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: blue; }

img { border: none; vertical-align: baseline; display: block; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑'; font-size: 14px; background: #F6F6F6; }

.clearfix:after { content: ""; height: 0; display: block; clear: both; overflow: hidden; visibility: hidden; }

* { box-sizing: border-box; }

.container { width: 1190px; margin: 0 auto; padding: 0; }
