@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: blue; }

img { border: none; vertical-align: baseline; display: block; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑'; font-size: 14px; background: #F6F6F6; }

.clearfix:after { content: ""; height: 0; display: block; clear: both; overflow: hidden; visibility: hidden; }

* { box-sizing: border-box; }

.container { width: 1190px; margin: 0 auto; padding: 0; }

.common { width: 980px; margin: 0 auto; }

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: blue; }

img { border: none; vertical-align: baseline; display: block; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑'; font-size: 14px; background: #F6F6F6; }

.clearfix:after { content: ""; height: 0; display: block; clear: both; overflow: hidden; visibility: hidden; }

* { box-sizing: border-box; }

.container { width: 1190px; margin: 0 auto; padding: 0; }

.common { width: 980px; margin: 0 auto; }

/* 头部 */
#head { padding: 20px 0; }

.common { width: 980px; margin: 0 auto; }

.topLink_back { background: #EEEEEE; border-bottom: 1px solid #E5E5E5; height: 26px; }

#topLink { background: #EEEEEE; }

#topLink > ul { float: right; }

#topLink > ul > li { float: left; line-height: 25px; }

#topLink > ul > li > a { display: block; color: #666666; font-size: 12px; padding: 0 16px; border-right: 1px solid #ccc; }

#topLink > ul > li > a:hover { color: #FF6600; text-decoration: underline; }

#topLink > ul > li:nth-child(1) a, #topLink > ul > li:nth-child(2) a { color: #FF6600; }

#topLink > ul > li:nth-child(3) { position: relative; }

#topLink > ul > li:nth-child(3) a:hover { background: #fff; border-top: 0; border-bottom: 1px solid #fff; }

#topLink > ul > li .login { width: 180px; position: absolute; background: #fff; border: 1px solid #ccc; padding: 10px 10px 10px 15px; top: 22px; right: 0; display: none; z-index: 11; }

#topLink > ul > li .login > ul { float: left; padding-right: 9px; }

#topLink > ul > li .login > ul li { width: 67px; height: 27px; font-size: 12px; line-height: 27px; border-bottom: 1px dashed #ccc; }

#topLink > ul > li .login > ul li a { color: #000; }

#topLink > ul > li:nth-child(4) { position: relative; }

#topLink > ul > li:nth-child(4) a:hover { background: #fff; border-top: 0; border-bottom: 1px solid #fff; z-index: 999; }

#topLink > ul > li:nth-child(4) .erwei { width: 232px; height: 142px; padding: 10px; background: #fff; border: 1px solid #ccc; display: none; position: absolute; top: 22px; right: 0; z-index: 11; }

#topLink > ul > li:nth-child(4) .erwei img { float: left; padding-right: 5px; }

#topLink > ul > li:last-child { width: 138px; height: 16px; border-right: 1px solid #ccc; margin: 5px 0; margin-left: 16px; background: url("../img/maxLogo.png") no-repeat -316px -65px; }

/* top => 头部 */
.top_b { background: #fff; }

.top_b #top { height: 78px; background: #fff; }

.top_b #top .top_left { float: left; width: 421px; height: 63px; margin-top: 10px; background: url("../img/maxLogo.png") no-repeat 0 -1px; }

.top_b #top .top_right { float: right; width: 650px; margin-top: 10px; }

.top_b #top .top_right .topr_left { float: left; }

.top_b #top .top_right .topr_left form .sbox { width: 345px; padding: 6px 0; }

.top_b #top .top_right .topr_left form .sbox .form-control { width: 270px; height: 30px; display: inline-block; border-radius: 0; }

.top_b #top .top_right .topr_left form .sbox .btn { width: 65px; height: 30px; background: #444444; color: #fff; border-radius: 0; font-size: 16px; line-height: 0; margin-left: -5px; margin-top: -2px; }

.top_b #top .top_right .topr_left p { font-size: 14px; line-height: 16px; }

.top_b #top .top_right .topr_left p span a { color: #888888; }

.top_b #top .top_right .topr_left p span:nth-child(1) a { color: #ccc; }

.top_b #top .top_right .topr_right { float: right; }

.top_b #top .top_right .topr_right .topr_right_a { height: 46px; padding-top: 12px; width: 126px; }

.top_b #top .top_right .topr_right .topr_right_a a { display: block; height: 34px; color: #666665; text-decoration: none; border: 1px solid #ccc; border-radius: 8px; line-height: 34px; background: #EEEEED; }

.top_b #top .top_right .topr_right .topr_right_a a .glyphicon { font-size: 18px; padding-left: 10px; }

.top_b #top .top_right .topr_right .topr_right_a a .topr_rightb { color: #c00; }

.top_b #top .top_right .topr_right .topr_right_a a:hover { color: #fff; background: #FF8000; border-color: #FF8000; }

/* nav => 导栏 */
#nav { background: #A21F25; }

#nav .nav_p { width: 190px; height: 34px; line-height: 34px; color: #fff; text-align: center; position: relative; float: left; }

#nav .nav_p:hover { background: #B9363D; }

#nav .nav_p .nav_p_ul { width: 190px; height: 385px; background: #1E1908; position: absolute; top: 34px; left: 0; display: none; z-index: 10; }

#nav .nav_p .nav_p_ul > li { position: relative; }

#nav .nav_p .nav_p_ul > li > a { display: block; width: 190px; height: 40px; line-height: 40px; color: #fff; text-decoration: none; }

#nav .nav_p .nav_p_ul > li > a:hover { background: #A90000; }

#nav .nav_p .nav_p_ul > li .Sport { width: 320px; height: 385px; background: #fff; opacity: 0.9; border: 1px solid #D9D7D6; position: absolute; left: 190px; top: 0; color: #000; text-align: left; padding: 20px; display: none; }

#nav .nav_p .nav_p_ul > li .Sport h3 { height: 30px; font-size: 12px; position: relative; border-bottom: 2px solid #000; }

#nav .nav_p .nav_p_ul > li .Sport h3 > i { display: inline-block; position: absolute; left: 1px; }

#nav .nav_p .nav_p_ul > li .Sport h3 span { float: right; margin-top: 10px; }

#nav .nav_p .nav_p_ul > li .Sport h3 span a { color: #6B6B6B; }

#nav .nav_p .nav_p_ul > li .Sport ul > li { float: left; padding: 0 10px; font-size: 12px; }

#nav .nav_p .nav_p_ul > li .Sport ul > li a { color: #6B6B6B; }

#nav .nav_p .nav_p_ul > li .Sport ul > li a:hover { color: red; }

#nav .nav_p .nav_p_ul > li .Sport ul > li:nth-child(2) a, #nav .nav_p .nav_p_ul > li .Sport ul > li:nth-child(3) a { color: red; }

#nav .nav_ul { float: left; }

#nav .nav_ul > ul > li { float: left; line-height: 34px; margin-right: 1px; position: relative; }

#nav .nav_ul > ul > li:first-child { background: #444444; }

#nav .nav_ul > ul > li:last-child span { position: absolute; display: none; z-index: 10; margin-top: -1px; }

#nav .nav_ul > ul > li > a { color: #fff; text-decoration: none; font-size: 14px; padding: 0 16px; }

#nav .nav_ul > ul > li:hover { background: #444444; }

#nav .nav_ul > ul > li .nav_Men { width: 668px; height: 302px; background: #fff; position: absolute; padding-top: 10px; display: none; z-index: 10; }

#nav .nav_ul > ul > li .nav_Men ul { float: left; padding: 6px 80px 0 20px; }

#nav .nav_ul > ul > li .nav_Men ul h3 { line-height: 38px; font-size: 18px; font-weight: bold; }

#nav .nav_ul > ul > li .nav_Men ul li { line-height: 24px; font-size: 12px; }

#nav .nav_ul > ul > li .nav_Men ul li a { color: #555555; }

#nav .nav_ul > ul > li .nav_WoMen { width: 668px; height: 302px; background: #fff; position: absolute; padding-top: 10px; display: none; z-index: 10; }

#nav .nav_ul > ul > li .nav_WoMen ul { float: left; padding: 6px 80px 0 20px; }

#nav .nav_ul > ul > li .nav_WoMen ul h3 { line-height: 38px; font-size: 18px; font-weight: bold; }

#nav .nav_ul > ul > li .nav_WoMen ul li { line-height: 24px; font-size: 12px; }

#nav .nav_ul > ul > li .nav_WoMen ul li a { color: #555555; }

#nav .nav_right { float: right; }

#nav .nav_right ul li { float: left; margin-top: 10px; }

#nav .nav_right ul li a { color: #fff; padding: 0 10px; font-size: 12px; }

.pro_back { background: #fff; }

#pro_main { width: 990px; margin: 0 auto; }

#pro_main .p_main_t { height: 536px; }

#pro_main .p_main_t > p { height: 38px; line-height: 38px; }

#pro_main .p_main_t > p a { color: #999999; font-size: 12px; }

#pro_main .p_main_t .pro_mtop_l { float: left; width: 447px; height: 536px; border-bottom: 1px dashed #ccc; }

#pro_main .p_main_t .pro_mtop_l .pro_img { margin: 0 15px 7px 0; }

#pro_main .p_main_t .pro_mtop_l .pro_img .zoom { width: 434px; border: 1px solid #f0f0f0; }

#pro_main .p_main_t .pro_mtop_l .pro_img .zoom a img { width: 432px; height: 432px; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list { width: 435px; height: 47px; margin-top: 20px; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list > li { float: left; border: 1px solid #ccc; margin-right: 5px; cursor: pointer; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list > li a { display: block; width: 51px; height: 41px; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list > li a:hover { border: 1px solid #f00; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list > li a:hover img { width: 49px; height: 39px; }

#pro_main .p_main_t .pro_mtop_l .pro_img .small-list > li a img { width: 51px; height: 41px; }

#pro_main .p_main_t .pro_mtop_r { width: 543px; height: 536px; float: left; }

#pro_main .p_main_t .pro_mtop_r .pro_title { line-height: 1.8em; margin-bottom: -4px; }

#pro_main .p_main_t .pro_mtop_r .pro_title h4 { font-size: 14px; font-weight: bold; height: 34px; border-bottom: 1px dashed #ccc; }

#pro_main .p_main_t .pro_mtop_r .pro_title h4 > span { float: right; }

#pro_main .p_main_t .pro_mtop_r .pro_title h4 > span a { color: #000; font-weight: 100; font-size: 10px; }

#pro_main .p_main_t .pro_mtop_r .pro_title h4 > span a > i { color: #f00; }

#pro_main .p_main_t .pro_mtop_r > ul { padding: 8px 5px 10px; border-bottom: 1px dashed #ccc; }

#pro_main .p_main_t .pro_mtop_r > ul > li { font-size: 12px; line-height: 24px; }

#pro_main .p_main_t .pro_mtop_r > ul > li > span { padding-left: 4px; }

#pro_main .p_main_t .pro_mtop_r > ul > li b { color: red; font-size: 18px; }

#pro_main .p_main_t .pro_mtop_r > ul > li:first-child span { text-decoration: line-through; }

#pro_main .p_main_t .pro_mtop_r > p { padding: 0 5px; height: 20px; color: #fe6464; white-space: nowrap; margin: 10px 0; font-size: 14px; }

#pro_main .p_main_t .pro_mtop_r > p span { display: inline-block; width: 60px; height: 20px; color: #fff; background: #fe6464; margin-right: 5px; }

#pro_main .p_main_t .pro_mtop_r > p i { background: #FFE9E9; width: 470px; display: inline-block; }

#pro_main .p_main_t .pro_mtop_r .heght_box { width: 543px; height: 130px; padding: 7px 2px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec { width: 539px; height: 130px; padding: 10px; background: #F5F5F5; position: relative; overflow: hidden; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul { font-size: 12px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li { height: 30px; margin-bottom: 5px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li > span { padding-left: 30px; line-height: 30px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li > span > a { display: inline-block; width: 30px; height: 30px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:first-child span > a { display: inline-block; width: 30px; height: 30px; text-align: center; line-height: 30px; background: #fff; cursor: pointer; text-decoration: none; color: #000; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(2) span { padding-top: 4px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(2) span img { display: inline-block; width: 30px; height: 30px; margin-top: 5px; padding-left: 4px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(3) { padding-top: 6px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(3) > span { padding-left: 0; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(3) > span button { display: inline-block; width: 15px; height: 15px; background: #fff; border: 1px solid #ccc; line-height: 10px; margin-top: 4px; cursor: pointer; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec > ul li:nth-child(3) > span input { width: 50px; height: 18px; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec .btnSize { width: 28px; height: 72px; position: absolute; top: -5px; right: 5px; cursor: pointer; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec .showBox { width: 340px; position: absolute; top: -1px; right: -340px; background: #fff; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec .showBox .clfix { width: 340px; height: 54px; border: 2px solid #f60; padding: 0 0 5px 5px; border-right: 0; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec .showBox .clfix img { float: right; cursor: pointer; }

#pro_main .p_main_t .pro_mtop_r .heght_box .goods-spec .btnColl { display: block; width: 95px; height: 25px; overflow: hidden; text-indent: -999em; background: url("../pro_img/pro_detial_icon1.png") no-repeat 0 -207px; position: absolute; bottom: 10px; right: 10px; }

#pro_main .p_main_t .pro_mtop_r .sp { border: 1px dashed #ccc; margin: 10px 0; }

#pro_main .p_main_t .pro_mtop_r .btnBar { width: 543px; height: 58px; position: relative; padding-top: 10px; }

#pro_main .p_main_t .pro_mtop_r .btnBar > span { float: left; width: 220px; overflow: hidden; color: #666; font-size: 12px; padding-top: 20px; }

#pro_main .p_main_t .pro_mtop_r .btnBar > span .btnBar_span i { color: #f00; }

#pro_main .p_main_t .pro_mtop_r .btnBar > span .btnBar_span b { font-weight: bold; color: #f00; }

#pro_main .p_main_t .pro_mtop_r .btnBar .btnsBox { width: 315px; height: 46px; float: right; }

#pro_main .p_main_t .pro_mtop_r .btnBar .btnsBox .btn-fastbuy { float: left; width: 137px; height: 44px; margin-right: 10px; font-size: 20px; }

#pro_main .p_main_b { margin-top: 100px; }

#pro_main .p_main_b .pro_main_b_top { height: 38px; display: block; }

#pro_main .p_main_b .pro_main_b_top ul { border-bottom: 1px solid #ccc; height: 30px; }

#pro_main .p_main_b .pro_main_b_top ul li { float: left; background: url("../pro_img/scn_p_tab_bg.gif") repeat-x; height: 29px; padding: 7px 15px 0 15px; width: auto; border: 1px solid #c0c0c0; border-bottom: 0; margin: 0 3px; cursor: pointer; }

#pro_main .p_main_b .pro_main_b_top ul .li_highlight { background: #fff none; border: 1px solid #c0c0c0; border-bottom: 0; width: auto; height: 34px; margin-top: -5px; font-size: 18px; border-top-width: 3px; padding: 4px 15px 3px 15px; color: #333; }

#pro_main .p_main_b .content > div { display: none; }

.redLine { width: 100%; height: 2px; background: #CE3C3B; }

.red { height: 2px; background: #CE3C3B; }

/* footer */
#footer { height: 79px; }

#footer .foot_p { padding-top: 20px; }

#footer .foot_p ul { text-align: center; }

#footer .foot_p ul li { float: left; }

#footer .foot_p ul li a { display: block; padding: 0 8px; font-size: 12px; line-height: 12px; color: #777; border-left: 1px solid #777777; }

#footer .foot_p ul li a:first-child { border-left: none; }

#footer .foot_p ul li:first-child { margin-left: 10px; }

#footer .foot_p > p { text-align: center; font-size: 12px; color: #777777; padding-top: 20px; }

#footer .foot_p > p span { font-weight: bold; color: #CC0000; font-size: 16px; }

#footer .foot_p > p a { color: #777777; }
