@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select, figure, figcaption { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: blue; }

img { border: none; vertical-align: baseline; display: block; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑'; font-size: 14px; background: #F6F6F6; }

.clearfix:after { content: ""; height: 0; display: block; clear: both; overflow: hidden; visibility: hidden; }

* { box-sizing: border-box; }

.container { width: 1190px; margin: 0 auto; padding: 0; }

.common { width: 980px; margin: 0 auto; }

body { background: #fff; }

.cart_top { background: #eee; height: 30px; }

.cart_top #top { font-size: 12px; padding: 7px 0; }

.cart_top #top p { float: left; width: 100px; }

.cart_top #top p a { color: #000; }

.cart_top #top > ul { float: right; }

.cart_top #top > ul > li { float: left; padding: 0 15px; border-right: 1px solid #d5d5d5; }

.cart_top #top > ul > li a { color: #000; }

.cart_top #top > ul .topLink_3 { position: relative; }

.cart_top #top > ul .topLink_3:hover { background: #fff; border-top: 0; border-bottom: 1px solid #fff; }

.cart_top #top > ul .topLink_3:hover .login { display: block; }

.cart_top #top > ul .topLink_3 .login { width: 180px; position: absolute; background: #fff; border: 1px solid #ccc; padding: 10px 10px 10px 15px; top: 16px; right: 0; display: none; z-index: 11; }

.cart_top #top > ul .topLink_3 .login > ul { float: left; padding-right: 9px; }

.cart_top #top > ul .topLink_3 .login > ul li { width: 67px; height: 27px; font-size: 12px; line-height: 27px; border-bottom: 1px dashed #ccc; }

.cart_top #top > ul .topLink_3 .login > ul li a { color: #000; }

#warp .warp_left { padding-top: 25px; float: left; }

#warp .warp_right { float: right; }

#warp .warp_right .warp_right_left { width: 400px; }

#warp .check_wrap { margin-top: 20px; border: 1px solid #ddd; padding: 20px 30px; }

#warp .check_wrap h3 { line-height: 22px; font-size: 18px; }

#warp .check_wrap .goodslist .cart_tb_head ul { border: 1px solid #e3e3e3; background: #fafafa; height: 30px; line-height: 30px; padding: 0 20px; text-align: center; }

#warp .check_wrap .goodslist .cart_tb_head ul li { float: left; width: 90px; line-height: 30px; }

#warp .check_wrap .goodslist .cart_tb_head ul li:first-child { width: 426px; }

#warp .check_wrap .goodslist .cart_tb_body { border: 1px solid #f0f0f0; border-top: 0; }

#warp .check_wrap .goodslist .cart_tb_body ul { padding: 15px 20px; position: relative; }

#warp .check_wrap .goodslist .cart_tb_body ul li { float: left; width: 90px; font-size: 12px; text-align: center; margin-top: 10px; }

#warp .check_wrap .goodslist .cart_tb_body ul li:first-child { width: 75px; }

#warp .check_wrap .goodslist .cart_tb_body ul li:nth-child(2) { width: 351px; text-align: left; color: #000; }

#warp .check_wrap .goodslist .cart_tb_body ul li:nth-child(2) i { color: #ccc; }

#warp .check_wrap .goodslist .cart_tb_body ul li img { width: 50px; height: 50px; }

#warp .check_wrap .goodslist .cart_tb_body ul > span { position: absolute; top: 0; right: 0; padding: 0 5px; cursor: default; border: 1px solid #ccc; cursor: pointer; }

#warp .check_wrap .goodslist .empty { border-bottom: 0; }

#warp .check_wrap .goodslist .empty a { color: #f00; }

#warp .check_wrap .goodslist p { text-align: right; border-bottom: 1px dashed #ccc; padding: 20px 0; }

#warp .check_wrap .goodslist p i { color: #f00; }

#warp .check_wrap .goodslist button { width: 171px; height: 37px; float: right; border-radius: none; margin: 20px 0; }

.red { height: 2px; background: #CE3C3B; }

/* footer */
#footer { height: 79px; }

#footer .foot_p { padding-top: 20px; }

#footer .foot_p ul { text-align: center; }

#footer .foot_p ul li { float: left; }

#footer .foot_p ul li a { display: block; padding: 0 8px; font-size: 12px; line-height: 12px; color: #777; border-left: 1px solid #777777; }

#footer .foot_p ul li a:first-child { border-left: none; }

#footer .foot_p ul li:first-child { margin-left: 10px; }

#footer .foot_p > p { text-align: center; font-size: 12px; color: #777777; padding-top: 20px; }

#footer .foot_p > p span { font-weight: bold; color: #CC0000; font-size: 16px; }

#footer .foot_p > p a { color: #777777; }
