@charset "UTF-8";
/* 头部 */
#head { padding: 20px 0; }

.top_com { width: 990px; margin: 0 auto; }

.topLink_back { background: #EEEEEE; border-bottom: 1px solid #E5E5E5; height: 26px; }

#topLink { background: #EEEEEE; }

#topLink > ul { float: right; }

#topLink > ul > li { float: left; line-height: 25px; }

#topLink > ul > li a { display: block; color: #666666; font-size: 12px; padding: 0 16px; border-right: 1px solid #ccc; }

#topLink > ul > li a:hover { color: #FF6600; text-decoration: underline; }

#topLink > ul > li:nth-child(1) a, #topLink > ul > li:nth-child(2) a { color: #FF6600; }

#topLink > ul > li:nth-child(3) { position: relative; }

#topLink > ul > li:nth-child(3) a:hover { background: #fff; border-top: 0; border-bottom: 1px solid #fff; }

#topLink > ul > li .login { width: 180px; position: absolute; background: #fff; border: 1px solid #ccc; padding: 10px 10px 10px 15px; top: 22px; right: 0; display: none; z-index: 11; }

#topLink > ul > li .login > ul { float: left; padding-right: 9px; }

#topLink > ul > li .login > ul li { width: 67px; height: 27px; font-size: 12px; line-height: 27px; border-bottom: 1px dashed #ccc; }

#topLink > ul > li:nth-child(4) { position: relative; }

#topLink > ul > li:nth-child(4) a:hover { background: #fff; border-top: 0; border-bottom: 1px solid #fff; z-index: 999; }

#topLink > ul > li:nth-child(4) .erwei { width: 232px; height: 142px; padding: 10px; background: #fff; border: 1px solid #ccc; display: none; position: absolute; top: 22px; right: 0; z-index: 11; }

#topLink > ul > li:nth-child(4) .erwei img { float: left; padding-right: 5px; }

#topLink > ul > li:last-child { width: 138px; height: 16px; border-right: 1px solid #ccc; margin: 5px 0; margin-left: 16px; background: url("../img/maxLogo.png") no-repeat -316px -65px; }

/* top => 头部 */
.top_b { background: #fff; }

.top_b #top { height: 78px; background: #fff; }

.top_b #top .top_left { float: left; width: 421px; height: 63px; margin-top: 10px; background: url("../img/maxLogo.png") no-repeat 0 -1px; }

.top_b #top .top_right { float: right; width: 650px; margin-top: 10px; }

.top_b #top .top_right .topr_left { float: left; }

.top_b #top .top_right .topr_left form .sbox { width: 345px; padding: 6px 0; }

.top_b #top .top_right .topr_left form .sbox .form-control { width: 270px; height: 30px; display: inline-block; border-radius: 0; }

.top_b #top .top_right .topr_left form .sbox .btn { width: 65px; height: 30px; background: #444444; color: #fff; border-radius: 0; font-size: 16px; line-height: 0; margin-left: -5px; margin-top: -2px; }

.top_b #top .top_right .topr_left p { font-size: 14px; line-height: 16px; }

.top_b #top .top_right .topr_left p span a { color: #888888; }

.top_b #top .top_right .topr_left p span:nth-child(1) a { color: #ccc; }

.top_b #top .top_right .topr_right { float: right; }

.top_b #top .top_right .topr_right .topr_right_a { height: 46px; padding-top: 12px; width: 126px; }

.top_b #top .top_right .topr_right .topr_right_a a { display: block; height: 34px; color: #666665; text-decoration: none; border: 1px solid #ccc; border-radius: 8px; line-height: 34px; background: #EEEEED; }

.top_b #top .top_right .topr_right .topr_right_a a .glyphicon { font-size: 18px; padding-left: 10px; }

.top_b #top .top_right .topr_right .topr_right_a a .topr_rightb { color: #c00; }

.top_b #top .top_right .topr_right .topr_right_a a:hover { color: #fff; background: #FF8000; border-color: #FF8000; }

/* nav => 导栏 */
#nav { background: #A21F25; }

#nav .nav_p { width: 190px; height: 34px; line-height: 34px; color: #fff; text-align: center; position: relative; float: left; }

#nav .nav_p:hover { background: #B9363D; }

#nav .nav_p .nav_p_ul { width: 190px; height: 385px; background: #1E1908; position: absolute; top: 34px; left: 0; display: none; z-index: 10; }

#nav .nav_p .nav_p_ul > li { position: relative; }

#nav .nav_p .nav_p_ul > li > a { display: block; width: 190px; height: 40px; line-height: 40px; color: #fff; text-decoration: none; }

#nav .nav_p .nav_p_ul > li > a:hover { background: #A90000; }

#nav .nav_p .nav_p_ul > li .Sport { width: 320px; height: 385px; background: #fff; opacity: 0.9; border: 1px solid #D9D7D6; position: absolute; left: 190px; top: 0; color: #000; text-align: left; padding: 20px; display: none; }

#nav .nav_p .nav_p_ul > li .Sport h3 { height: 30px; font-size: 12px; position: relative; border-bottom: 2px solid #000; }

#nav .nav_p .nav_p_ul > li .Sport h3 > i { display: inline-block; position: absolute; left: 1px; }

#nav .nav_p .nav_p_ul > li .Sport h3 span { float: right; margin-top: 10px; }

#nav .nav_p .nav_p_ul > li .Sport h3 span a { color: #6B6B6B; }

#nav .nav_p .nav_p_ul > li .Sport ul > li { float: left; padding: 0 10px; font-size: 12px; }

#nav .nav_p .nav_p_ul > li .Sport ul > li a { color: #6B6B6B; }

#nav .nav_p .nav_p_ul > li .Sport ul > li a:hover { color: red; }

#nav .nav_p .nav_p_ul > li .Sport ul > li:nth-child(2) a, #nav .nav_p .nav_p_ul > li .Sport ul > li:nth-child(3) a { color: red; }

#nav .nav_ul { float: left; }

#nav .nav_ul > ul > li { float: left; line-height: 34px; margin-right: 1px; position: relative; }

#nav .nav_ul > ul > li:first-child { background: #444444; }

#nav .nav_ul > ul > li:last-child span { position: absolute; display: none; z-index: 10; }

#nav .nav_ul > ul > li > a { color: #fff; text-decoration: none; font-size: 14px; padding: 0 16px; }

#nav .nav_ul > ul > li:hover { background: #444444; }

#nav .nav_ul > ul > li .nav_Men { width: 668px; height: 302px; background: #fff; position: absolute; padding-top: 10px; display: none; z-index: 10; }

#nav .nav_ul > ul > li .nav_Men ul { float: left; padding: 6px 80px 0 20px; }

#nav .nav_ul > ul > li .nav_Men ul h3 { line-height: 38px; font-size: 18px; font-weight: bold; }

#nav .nav_ul > ul > li .nav_Men ul li { line-height: 24px; font-size: 12px; }

#nav .nav_ul > ul > li .nav_Men ul li a { color: #555555; }

#nav .nav_ul > ul > li .nav_WoMen { width: 668px; height: 302px; background: #fff; position: absolute; padding-top: 10px; display: none; z-index: 10; }

#nav .nav_ul > ul > li .nav_WoMen ul { float: left; padding: 6px 80px 0 20px; }

#nav .nav_ul > ul > li .nav_WoMen ul h3 { line-height: 38px; font-size: 18px; font-weight: bold; }

#nav .nav_ul > ul > li .nav_WoMen ul li { line-height: 24px; font-size: 12px; }

#nav .nav_ul > ul > li .nav_WoMen ul li a { color: #555555; }

#nav .nav_right { float: right; }

#nav .nav_right ul li { float: left; margin-top: 10px; }

#nav .nav_right ul li a { color: #fff; padding: 0 10px; font-size: 12px; }
