@import 'common';
@import 'top';
body{
	background:#fff;
}
.common{
	width: 990px;
	margin: 0 auto;
}
#address{
	padding-top: 15px;
	p{
		font-size: 12px;
		a{
			color:#5F5F5E;
		}
	}
	.a_main{
		height: 871px;
		border: 1px solid #ccc;
		border-top-color:#A21F24;
		margin-top: 15px;
		.a_main_left{
			float:left;
			width: 186px;
			height: 870px;
			background:#F6F6F6;
			border-right: 1px solid #ccc;
			padding-top: 10px;
			>ul{
				>li{
					height: 30px;
					padding: 5px 0;
					line-height: 20px;
					padding-left: 50px;
					a{
						font-size:14px;
						color:#333333;
					}
				}
				h3{
					margin: 10px 0;
					font-weight: 100;
					padding-left: 50px;
					border-top:1px dashed #ccc;
					border-bottom:1px dashed #ccc;
					font-size: 12px;
					height: 24px;
					line-height: 20px;
					opacity:0.5;
				}
			}
		}
		.a_main_right{
			float:right;
			width: 802px;
			height: 870px;
			padding: 20px;
			padding-left: 50px;
			p{
				padding-top: 20px;
				a{
					color:#f60;
				}
			}
			/* address_1 */
			.add_address{
				padding-top: 20px;
				padding-left: 80px;
				position:relative;
				form{
					i{
						color:#f00;
					}
					input{
						width: 220px;
						height: 26px;
						margin-bottom: 10px;
					
					}

					select{
						margin-bottom: 10px;
						display:none;
					}
					.select{
						display:inline-block;
					}
					.verification{
						width: 100px;
						margin-right: 10px;
					}
					span{
						margin-left: -28px;
					}
					.span{
						margin-left: -14px;
					}
					>div{
						display:inline-block;
						width:60px;
						height: 26px;
						background:#ccc;
						position:absolute;
						line-height: 26px;
						text-align: center;
					}
					>p{
						color:orange;
						cursor: pointer;
						display:inline-block;
						width: 90px;
						position:absolute;
						bottom: 50px;
						right: 40%;
					}
					.btn{
						width: 74px;
						height: 26px;
						line-height: 26px;
						 padding: 0;
						 background:#DA4200;
						 margin-left: 46px;
					}
				}
			}
			
		}
	}
}
@import 'footer'