@import 'common';

//top => 头部
#top{
	height:78px;
	background:#EEEEED;
}
//nav => 导栏
#nav{
	height:34px;
	background:#A21F25;
}
//banner => 轮播图
#banner{
	height:385px;
	background:#C5F7D4;
}
//main => 内容
#main{
	height: 1478px;
	background:#F6F6F6;
}
//link => 链接
#link{
	height: 395px;
}
//redLine => 红线
.redLine{
	width: 100%;
	height: 2px;
	background:#CE3C3B;
}
//footer => 尾部
#footer{
	height: 426px;
	background:#F8F8F8;
}