@import 'common';
body{
	background:#fff;
}
.common{
	width: 980px;
	margin: 0 auto;
	/* 登录界面 */	
	#interface{
		padding: 9px 0 31px 3px;
		.interface_l{
			float:left;
			padding-right: 3px;
		}
		.interface_r{
			width: 594px;
			height: 380px;
			float:right;
			padding-left: 76px;
			>h4{
				font-size:18px;
				color:#000;
				span{
					padding-left: 5px;
					font-size:12px;
					color:#ccc;
					font-weight: 100;
				}
			}
			.login_interface{
				width: 386px;
				height: 244px;
				background:#FAFAFA;
				margin-top: 10px;
				border:1px solid #EEEEEE;
				padding: 36px 54px 0 44px;
				form{
					font-weight: 100;
					input{
						width: 232px;
						height: 30px;
						margin-bottom: 10px;
						border:1px solid #ccc;
						padding-left: 5px;
					}
					#password{
						margin-left: 2px;
					}
					.btn{
						width: 90px;
						height: 38px;
						background:#DA4200;
						margin-left: 56px;
					}
					>span{
						font-size: 12px;
						color:#aaa;
						margin-left: 10px;
						margin-top: 10px;
					}
				}
				>p{
					padding-top: 20px;
					margin-left: 56px;
					font-size: 12px;
					span{
						margin-left: 16px;
						a{
							color:#FF6600;
							text-decoration: underline;
							&:hover{
								color:#F00;
							}
						}
					}
				}
			}
			.login_link{
				>p{
					padding-top: 15px;
					font-size: 12px;
					color:#ccc;
				}
				>ul{
					li{
						float:left;
						padding-right: 15px;
					}
				}
			}	
		}
	}
}
@import 'footer'