@import 'common';
body{
	background:#fff;
}
.cart_top{
	background:#eee;
	height: 30px;
	#top{
		font-size: 12px;
		padding: 7px 0;
		p{
			float:left;
			width: 100px;
			a{
				color:#000;
			}
		}
		>ul{
			float:right;
			>li{
				float:left;
				padding: 0 15px;
				border-right: 1px solid #d5d5d5;
				a{
					color:#000;
				}
			}
			.topLink_3{
				position:relative;
				&:hover{
					background:#fff;
					border-top: 0;
					border-bottom: 1px solid #fff;
					.login{
						display:block;
					}
				}
				
				.login{
					width: 180px;
					position:absolute;
					background:#fff;
					border:1px solid #ccc;
					padding:10px 10px 10px 15px;
					top: 16px;
					right: 0;
					display:none;
					z-index: 11;	
					>ul{
						float:left;
						padding-right: 9px;
						li{
							width: 67px;
							height: 27px;
							font-size: 12px;
							line-height: 27px;
							border-bottom: 1px dashed #ccc;
							a{
								color:#000;
							}
						}
					}
				}
			}
		}
	}
}
#warp{
	.warp_left{
		padding-top: 25px;
		float:left;
	}
	.warp_right{
		float:right;
		.warp_right_left{
			width: 400px;
		}
		.warp_right_right{
			width: 220px;
		}
	}
}
@import 'footer'