@import 'common';
/* 头部 */
#head{
	padding: 20px 0;
}
.common{
	width: 980px;
	margin: 0 auto;
}
.topLink_back{
	background:#EEEEEE;
	border-bottom:1px solid #E5E5E5;
	height: 26px;
}
#topLink{
	background:#EEEEEE;
	>ul{
		float:right;
		>li{
			float:left;
			line-height:25px;
			
			>a{
				display:block;
				color:#666666;
				font-size:12px;
				padding:0 16px;
				border-right:1px solid #ccc;
				&:hover{
					color:#FF6600;
					text-decoration: underline;
				}
			}
			
			&:nth-child(1),&:nth-child(2){
				a{
					color:#FF6600;
				}
			}
			&:nth-child(3){
				position:relative;
				a{
					&:hover{
						background:#fff;
						border-top: 0;
						border-bottom: 1px solid #fff;
						
					}
				}
			}
			.login{
				width: 180px;
				position:absolute;
				background:#fff;
				border:1px solid #ccc;
				padding:10px 10px 10px 15px;
				top: 22px;
				right: 0;
				display:none;
				z-index: 11;	
				>ul{
					float:left;
					padding-right: 9px;
					li{
						width: 67px;
						height: 27px;
						font-size: 12px;
						line-height: 27px;
						border-bottom: 1px dashed #ccc;
						a{
							color:#000;
						}
					}
				}
			}
			&:nth-child(4){
				position:relative;
				a{
					&:hover{
						background:#fff;
						border-top: 0;
						border-bottom: 1px solid #fff;
						z-index: 999;
					}
				}
				.erwei{
					width: 232px;
					height: 142px;
					padding: 10px;
					background:#fff;
					border:1px solid #ccc;
					display:none;
					position:absolute;
					top:22px;
					right: 0;
					z-index: 11;
					img{
						float:left;
						padding-right: 5px;
					}
				}
			}
			&:last-child{
				width:138px;
				height: 16px;
				border-right:1px solid #ccc;
				margin: 5px 0;
				margin-left: 16px;
				background:url("../img/maxLogo.png") no-repeat -316px -65px;
			}
		}
	}
}
/* top => 头部 */
.top_b{
	background:#fff;
	#top{
	height:78px;
	background:#fff;
	.top_left{
		float:left;
		width:421px;
		height: 63px;
		margin-top:10px;
		background:url("../img/maxLogo.png") no-repeat 0 -1px;
	}
	.top_right{
		float:right;
		width:650px;
		margin-top:10px;
		.topr_left{
			float:left;
			form{
				.sbox{
					width: 345px;
					padding: 6px 0;
					.form-control{
						width: 270px;
						height: 30px;
						display: inline-block;
						border-radius: 0;
					}
					.btn{
						width: 65px;
						height: 30px;
						background:#444444;
						color:#fff;
						border-radius: 0;
						font-size:16px;
						line-height:0;
						margin-left: -5px;
						margin-top:-2px;
					}
				}
			}
			
			p{
				font-size:14px;
				line-height:16px;
				span{
					a{
						color:#888888;
					}
					&:nth-child(1){
						a{
							color:#ccc;
						}
					}
					}
				}
			}
			.topr_right{
				float:right;
				.topr_right_a{
					height: 46px;
					padding-top: 12px;
					width:126px;
					a{
						display:block;
						height: 34px;
						color:#666665;
						text-decoration: none;
						border:1px solid #ccc;
						border-radius: 8px;
						line-height:34px;
						background:#EEEEED;

						.glyphicon{
							font-size:18px;
							padding-left: 10px;
						}
						.topr_rightb{
								color:#c00;
						}
						&:hover{
							color:#fff;
							background:#FF8000;
							border-color:#FF8000;
						}
					}
				}
			}
		}
	}
}

/* nav => 导栏 */
#nav{
	background:#A21F25;
	.nav_p{
		width: 190px;
		height: 34px;
		line-height:34px;
		color:#fff;
		text-align:center;
		position:relative;
		float:left;
		&:hover{
			background:#B9363D;
		}
		.nav_p_ul{
			width: 190px;
			height: 385px;
			background:#1E1908;
			position:absolute;
			top:34px;
			left: 0;
			display: none;
			z-index:10;
			>li{
				position:relative;
				>a{
					display:block;
					width: 190px;
					height: 40px;
					line-height: 40px;
					color:#fff;
					text-decoration: none;
					&:hover{
						background:#A90000;
					}
				}
				.Sport{
					width: 320px;
					height: 385px;
					background:#fff;
					opacity:0.9;
					border:1px solid #D9D7D6;
					position:absolute;
					left: 190px;
					top: 0;
					color:#000;
					text-align:left;
					padding: 20px;
					display:none;
					h3{
						height: 30px;
						font-size:12px;
						position:relative;
						border-bottom: 2px solid #000;
						>i{
							display: inline-block;
							position:absolute;
							left: 1px;
						}
						span{
							float:right;
							margin-top: 10px;
							a{
								color:#6B6B6B;
							}
							
						}
					}
					ul{
						>li{
							float:left;
							padding: 0 10px;
							font-size:12px;
							a{
								color:#6B6B6B;
								
								&:hover{
									color:red;
								}
							}
							&:nth-child(2),&:nth-child(3){
								a{
									color:red;
								}
							}
						}
					}
				}
			}
		}
	}
	.nav_ul{
		float:left;
		>ul{
			>li{
				float:left;
				line-height:34px;
				margin-right:1px;
				position:relative;
				&:first-child{
						background:#444444;
					}
				&:last-child{
						span{
							position:absolute;
							display:none;
							z-index:10;
							margin-top: -1px;
						}
					}	
				>a{
					color:#fff;
					text-decoration: none;
					font-size:14px;
					padding:0 16px;
				}
				&:hover{
						background:#444444;
					}
				.nav_Men{
					width: 668px;
					height: 302px;
					background:#fff;
					position:absolute;
					padding-top: 10px;
					display:none;
					z-index:10;
					ul{
						float:left;
						padding: 6px 80px 0 20px;
						h3{
							line-height: 38px;
							font-size:18px;
							font-weight: bold;
						}
						li{
							line-height: 24px;
							font-size:12px;
							a{
								color:#555555;
							}
						}
					}
				}
				.nav_WoMen{
					width: 668px;
					height: 302px;
					background:#fff;
					position:absolute;
					padding-top: 10px;
					display:none;
					z-index:10;
					ul{
						float:left;
						padding: 6px 80px 0 20px;
						h3{
							line-height: 38px;
							font-size:18px;
							font-weight: bold;
						}
						li{
							line-height: 24px;
							font-size:12px;
							a{
								color:#555555;
							}
						}
					}
				}
			}
		}
	}
	.nav_right{
		float:right;
		ul{
			li{
				float:left;
				margin-top: 10px;
				a{
					color:#fff;
					padding: 0 10px;
					font-size:12px;
				}
			}
		}
	}
}